[submodule "themes/hugo-theme-bootstrap4-blog"]
	path = themes/hugo-theme-bootstrap4-blog
	url = https://github.com/ballsaii/theme-hugo.git
[submodule "themes/clarity"]
	path = themes/clarity
	url = https://ballsaii@github.com/chipzoller/hugo-clarity.git
